* {
  margin: 0;
  padding: 0;
  font-family: Segoe UI;
}

.container {
  /* padding-top: 50px; */
  padding-bottom: 50px;
  /* background-color: gray; */
  width: 80%;
  margin-left: 10%;
}

.padd {
  padding: 20px;
}

.header {
  height: 50px;
  width: 100%;
  /* background-color: brown; */
  display: flex;
  justify-content: space-between;
}

.cards {
  width: 100%;
  /* background-color: lightgray; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  height: 230px;
  width: 18%;
  background-color: crimson;
  margin-top: 20px;
  background-size: cover;
  background-position: center center;
}

.overlay {
  height: 230px;
  width: 100%;
  background-color: crimson;
}

.opened {
  display: none;
}
